<template name="cardsetNavigationEditCardset">
    {{#if isCardsetOwner _id}}
        <div class="hidden-xs btn-group">
            <button id="editCardset" class="btn btn-sm btn-raised editCardsetBtn"
                    data-toggle="modal"
                    data-target="#setCardsetFormModal" {{disableIfOffline}}>
                <span class="flex-content"><i class="fas fa-cog"></i>&nbsp;
                    {{#if isRepetitorienFilterIndexOrShuffle}}
                        {{_ "modal-dialog.editRepetitorium"}}
                    {{else}}
                        {{_ "modal-dialog.editcardset"}}
                    {{/if}}
                </span>
            </button>
        </div>
    {{/if}}
</template>
